html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}

div[class*="photo"] {
    text-align: left;
    margin-left: 15px;
}

img {
    width: 70%;
}

h1 {
    font-size: 3em;
    margin-top: 10px;
}

h1 p {
    font-size: 0.5em;
    color: #555;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}

*[onclick] {
    cursor: pointer;
}

div,
p {
    padding-left: 5px;
}

h3 {
    font-size: 1em;
    margin: 2px;
}

.quotes {
    font-size: 1.5em;
    margin: 0;
    margin-top: 30px;
}

.quotes+p {
    font-size: 0.8em;
    text-align: right;
    padding-right: 10%;
}

.quotes+p+p {
    font-size: 0.8em;
    text-align: left;
    padding-left: 100px;
}

#col-l,
#col-r {
    height: 850px;
    overflow: hidden;
}

#col-r h2 {
    background-color: rgb(214, 214, 214);
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid rgb(194, 194, 194);
}

#col-l h3 {
    display: inline-block;
    width: 90%;
    background-color: rgb(214, 214, 214);
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(194, 194, 194);
}

#capacitation h3 {
    font-size: 1.5em;
    padding-left: 25px;
}

#capacitation h3::before {
    content: '+ ';
}

#capacitation h4 {
    font-size: 1.1em;
    padding-left: 50px;
}

.area,
.area .cours,
.target>div {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

.target h2 {
    margin: 10px 0px;
}

.target h3:hover,
.target h2:hover {
    cursor: pointer;
    background-color: rgb(185, 185, 185);
}

.visible>div {
    transition: height 1s;
}

#col-l .visible>div {
    overflow-y: scroll;
    height: 400px;
}

#col-r .visible>div {
    overflow-y: scroll;
    height: 645px;
}

.visibleA+div .area {
    transition: height 0.01s;
    overflow-y: auto;
    height: auto;
}

.visibleB+div .area {
    transition: height 0.01s;
    overflow: auto;
    height: 45px;
}

.area ul {
    padding-left: 60px;
}

.generals-container {
    height: 0;
    overflow: hidden;
    transition: height 1s;
}

#soft p {
    padding-left: 30px;
}

#hobbies img {
    width: 50px;
    float: left;
    margin: 10px;
}

#hobbies p {
    padding-left: 80px;
}

#hobbies h4 {
    text-align: left;
    font-size: 1em;
    padding-left: 80px;
}

div[onmouseover] {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 220px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    left: -999em;
    z-index: 2;
    bottom: 125%;
    margin-bottom: -20px;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30%;
    margin-bottom: -14px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext,
.photo:hover+.w3-container .tooltip .tooltiptext {
    left: -50%;
    visibility: visible;
    opacity: 1;
    margin-bottom: 0px;
}